* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: '맑은고딕';
    font-size: 14px;
    color: #444444;
  }
  li {
    list-style-type: none;
  }
  .clear {
    clear: both;
  }
  header {
    width: 1140px;
    height: 100px;
    margin: 0 auto;
  }
  #logo {
    float: left;
    margin: 25px 0 0 10px;
  }
  #menus {
    float: right;
  }
  #top_menu {
    text-align: right;
    margin-top: 20px;
  }
  #main_menu {
    margin-top: 20px;
    font-family: 'HY견고딕';
    font-size: 20px;
    color: black;
  }
  #main_menu li {
    display: inline;
    margin-left: 80px;
  }
  #main_img {
    width: 100%;
    height: 281px;
    background-image: url('img/oioi.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 20px;
  }
  #main_img {
    width: 100%;
    height: 620px;
  }
  footer {
    width: 100%;
    height: 150px;
    margin-top: 30px;
    background-color: #A4BFDE;
  }
  #contents_img {
    width: 100%;
    height: 281px;
    background-image: url('img/oi9.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 20px;
  }
  #contents_img {
    width: 100%;
    height: 620px;
  }
  #footer_box {
    width: 1140px;
    height: 150px;
    margin: 0 auto;

  }
  #footer_logo {
    float: left;
    margin: 50px 0 0 30px;

  }
  #address {
    float: right;
    margin: 50px 30px 0 0;
    color: white;

  }

  a:link {
    color: black;
    text-decoration: none;
  }
  a:visited {
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: #967AFA;
    text-decoration: none;
  }
  a:active {
    color: black;
    text-decoration: none;
  }
  #top {
position: fixed;
bottom: 50px;
right: 50px;
width: 50px;
height: 30px;
background-color: white;
border: 1px solid skyblue;
text-align:center;
cursor: pointer;
}